// RESETS
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// VARIABLES
$primary-color: #444;
$text-color:#fff;
$main-width:16rem;
$main-height:18rem;
$linear: linear-gradient(180deg,#222, #555);
$linear-secondary: linear-gradient(80deg,#777, #555);


// SHADOWS
$shadow-color:#111;
$shadow:0px 0px 3px 4px $shadow-color;
$clockShadow:0px 0px 1px 3px $shadow-color;



// MIXINS
@mixin positionAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin flexcenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}


// FUNCTIONS
// $degrees: (180, 90, 45);
// @each $degree in $degrees{
    
//     $linear(#{$degree}){
//         linear-gradient(#{degree},#111, #555);
//     }
    
// }






// h1 {
//    color: #04fc43; 
// }

// h2 {
//     color: #fee800; 
// }

// h3 {
//     color: #ff2972; 
// }
// $primary-color: #333;
