// RESETS
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}


// VARIABLES - COLORS
$primary-color: #444;
$text-color:#fff;
$color-sec: #04fc43;
$color-min: #fee800;
$color-hr: #ff2972; 

//  VARIABLES - UTILITIES
$main-width:17rem;
$main-height:20rem;
$linear: linear-gradient(180deg,#222, #555);
$linear-secondary: linear-gradient(80deg,#777, #555);


//  VARIABLES - SHADOWS
$shadow-color:#111;
$shadow:0px 0px 3px 4px $shadow-color;
$clockShadow:0px 0px 1px 3px $shadow-color;



// MIXINS
@mixin positionAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin flexcenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}


// FUNCTIONS

$degree: 30;

@function degrees($num){
    @return ($num * $degree);
}
